<%= form_for(@survey, :html => {:class => "form-signin"}) do |f| %>
  <% if @survey.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@survey.errors.count, "error") %> prohibited this survey from being saved:</h2>

      <ul>
      <% @survey.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <h2 class="form-signin-heading"><%= @survey.new_record? ? 'New' : 'Edit' %> Survey</h2>
	<div>
    <%= f.label :name, "Survey Name" %>
    <%= f.text_field :name, :class => "input-block-level"  %>
	</div>	
  <%= f.hidden_field :question_type, :value => @question_type,  :class=>"input-block-level" %>
  <%= f.fields_for :questions do |builder| %>  
		<%= render 'question_fields', f: builder %>
	<% end %>
	<%= link_to_add_fields "Add Question", f, :questions %>
  <br/><br/>
  <div class="actions">
    <%= f.submit @survey.new_record? ? 'Create Survey' : 'Update Survey', :class => "btn btn-primary"%>
  </div>
<% end %>
