<p class="pull-right">
  <% if current_user && current_user.admin? %>
    <%= link_to "New Survey", new_survey_path, :class => "btn btn-info" %>
  <% end %>
</p>
<br/><br/>

<% if @surveys.blank? %>
  <p class="alert">No Survey Created Yet</p>
<% else %>
  <table class="table table-bordered table-striped">
     <thead>
        <tr>
          <th>Surveyer</th>
          <th>Question Type</th>
          <th>Survey Name</th>
          <th>Actions</th>
        </tr>
      </thead>
    <tbody>
      <% @surveys.each do |survey| %>
        <tr>
          <td><%= survey.user.screen_name %></td>
          <td><%= survey.question_type %></td>
          <td><%= survey.name %></td>
          <td>
            <%= link_to 'Take a survey', survey_path(survey), :class => "btn btn-small btn-success" %>
            <% if current_user && current_user.admin? %>
              <%= link_to 'Edit', edit_survey_path(survey), :class => "btn btn-small btn-inverse" %>
              <%= link_to 'Destroy', survey, confirm: 'Are you sure?', method: :delete, :class => "btn btn-small btn-danger" %>
              <%= link_to 'Results', results_surveys_path(:id => survey), :class => "btn btn-small btn-primary" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @surveys %>
<% end %>