<p class="pull-right">
  <% if current_user && current_user.admin? %>
    <%= link_to "New Survey", new_survey_path, :class => "btn btn-primary" %>
  <% end %>
</p>
<br/><br/>

<% if @surveys.blank? %>
  <p class="alert">No Survey Created Yet</p>
<% else %>
  <table class="table table-bordered table-striped">
     <thead>
        <tr>
          <th>Surveyer</th>
          <th>Question Type</th>
          <th>Survey Name</th>
          <th>#</th>
          <% if current_user && current_user.admin? %>
            <th>#</th>
            <th>#</th>
          <% end %>
        </tr>
      </thead>
    <tbody>
      <% @surveys.each do |survey| %>
        <tr>
          <td><%= survey.user.screen_name %></td>
          <td><%= survey.question_type %></td>
          <td><%= survey.name %></td>
          <td><%= link_to 'Take a survey', survey_path(survey), :class => "btn btn-small btn-success" %></td>
          <% if current_user && current_user.admin? %>
            <td><%= link_to 'Edit', edit_survey_path(survey), :class => "btn btn-small btn-success" %></td>
            <td><%= link_to 'Destroy', survey, confirm: 'Are you sure?', method: :delete, :class => "btn btn-small btn-success" %></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= will_paginate @surveys %>
<% end %>