<p id="notice"><%= notice %></p>
<%= form_tag "/surveys/1/survey_response", :class => 'form-signin' %>
  <h2 class="form-signin-heading">Survey: <%= @survey.name %></h2>
  <div>
  <% flag_id = 1 %>
  <% @survey.questions.each do |question| %>
    <strong><u>Question # <%= flag_id %></u></strong><br />
    <%= raw question.content %> <br /> <br />
    <% flag_answer_id = 1 %>
    <% question.answers.each do |answer| %>
      <strong><u>Answer # <%= flag_answer_id %></u></strong> <br />
      <%= raw answer.content %><br />
      <% flag_answer_id += 1 %>
    <% end %><br/>
    <%= hidden_field_tag "question_ids[]", question.id %>
    <%= label "user_answers", "Your Answer" %>
    <%= select_tag "user_answers[]", options_for_select(question.answers.map(&:content)), 
                                  :class => "input-block-level"  %><br/>
    <% flag_id += 1 %>
  <% end %>
  <%= submit_tag 'Save', :class=> "btn btn-small btn-success" %>
</div>
<%= link_to 'Back', surveys_path %>
</form>

