<div class="masthead">
  <ul class="nav nav-pills pull-right">
    <li class="<%= menu_list('home') %>"><%= link_to 'Home', root_path %></li>
    <li class="<%= menu_list('survey') %>"><%= link_to 'Survey', surveys_path %></li>
  </ul>
  <%= link_to image_tag('logo.png'), root_path %>
</div>